{
    admin off
}

:80 {
    root * /app
    php_fastcgi 127.0.0.1:9000
    file_server

    # Redirecionar index.html para index.php se existir
    @indexhtml path /index.html
    redir @indexhtml /index.php permanent

    # Página padrão
    try_files {path} {path}/ /index.php?{query}
}
